<!DOCTYPE html>
<html>
<head>
<title>Design page</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="row">

			<div class="col text-center">
				<h1>Design your Taco!</h1>
				<img th:src="@{/images/icon.jpg}" />
			</div>
		</div>
		<form method="POST" th:object="${design}">
			<div class="row">
				<div class="col-sm-12">
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('ingredients')}"
					th:errors="*{ingredients}">Ingredient Error</div>
					</div>
					<div class="col-sm-12">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">name error</div>
					</div>
			</div>
			<div class="row">
				<!--  TACO NAME -->
				<div class="col-12"></div>
				<div class="col-12">

					<div class="form-group col-sm-4">
						<label for="name">Name your Taco</label> <input type="text"
							class="form-control" th:field="*{name}" id="name">
					</div>
				</div>
			</div>

			<div class="row">


				<!--  WRAPS -->

				<div class="ingredient-group col-sm-4" id="wraps">
					<h3>Designate your wrap:</h3>
					<div th:each="ingredient : ${wrap}" class="form-check">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" class="form-check-input" /> <label
							class="form-check-label" th:text="${ingredient.name}"></label>
					</div>
				</div>

				<!-- PROTEINS -->
				<div class="ingredient-group col-sm-4" id="proteins">
					<h3>Pick your protein:</h3>
					<div th:each="ingredient : ${protein}" class="form-check">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" class="form-check-input" /> <label
							class="form-check-label" th:text="${ingredient.name}"></label>
					</div>
				</div>
				<!-- PROTEINS -->
				<div class="ingredient-group col-sm-4" id="cheeses">
					<h3>Select your cheese:</h3>
					<div th:each="ingredient : ${cheese}" class="form-check">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" class="form-check-input" /> <label
							class="form-check-label" th:text="${ingredient.name}"></label>
					</div>
				</div>
				<!-- VEGGIES -->
				<div class="ingredient-group col-sm-4" id="veggies">
					<h3>Select your veggies:</h3>
					<div th:each="ingredient : ${veggies}" class="form-check">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" class="form-check-input" /> <label
							class="form-check-label" th:text="${ingredient.name}"></label>
					</div>
				</div>
				<!-- SAUCE -->
				<div class="ingredient-group col-sm-4" id="sauce">
					<h3>Select your sauce:</h3>
					<div th:each="ingredient : ${sauce}" class="form-check">
						<input name="ingredients" type="checkbox"
							th:value="${ingredient.id}" class="form-check-input" /> <label
							class="form-check-label" th:text="${ingredient.name}"></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="btn btn-primary">Submit your taco</button>
				</div>
			</div>
	</div>
	</div>
	</form>
</body>
</html>